@model IEnumerable<RepairShopProject12.Models.OrderModel>

@{
    ViewBag.Title = "OrderList";
}

<h2>OrderList</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartLinkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusLabel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartLinkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDiscription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatusLabel)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrder", new { orderId = item.OrderId }) |
            @Html.ActionLink("Details", "OrderDetails", new { orderId = item.OrderId }) |
            @Html.ActionLink("Delete", "DeleteOrder", new { orderId = item.OrderId })
        </td>
    </tr>
}

</table>
